* text=auto

/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.travis.yml export-ignore
/phpunit.xml.dist export-ignore
/phpstan.dist.neon export-ignore
/CHANGELOG.md export-ignore
/example export-ignore
/README.md export-ignore
/stubs export-ignore
/tests export-ignore
