parameters:
    level: 10
    treatPhpDocTypesAsCertain: false
    paths:
        - ./src/
        - ./tests/
    ignoreErrors:
        - identifier: method.internalClass
        - identifier: new.internalClass
        - identifier: parameter.internalClass
        - identifier: property.internalClass
        - identifier: return.internalClass

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
